.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.table > :not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.badge.bg-opacity-10 {
  background-color: rgba(var(--bs-primary-rgb), 0.1);
}
.btn-add-order{
 margin-top: 50px;
 margin-bottom: 20px;
}

input:focus {
  border-color: #0d6efd !important;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25); /* Bootstrap primary blue shadow */
}

.btn-reason{
  background-color: rgb(112, 144, 231);
}
.btn_hover:hover{
 color: white !important;
}