<div class="sidenav" [ngClass]="isLeftSidebarCollapsed() ? 'sidenav-collapsed' : ''">
  <!-- 🔵 Logo Section (Fixed) -->
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <i class="fal fa-bars"></i>
    </button>
    @if (!isLeftSidebarCollapsed()) {
      <div class="logo-text">Tayara</div>
      <button class="btn-close" (click)="closeSidenav()">
        <i class="fal fa-times close-icon"></i>
      </button>
    }
  </div>

  <!-- 🟢 Scrollable Sidebar Navigation -->
  <div class="sidenav-scroll">
    <ul class="sidenav-nav">
      <ng-container *ngFor="let item of items; let i = index">
      <li class="sidenav-nav-item" *ngIf="!item.visibleFor ||item.visibleFor.includes(role!) " >
        <a
          class="sidenav-nav-link"
          [routerLink]="item.routeLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="toggleSubmenu(i)"
          [class.has-children]="item.children"
          href="javascript:void(0)"
          [attr.data-tooltip]="item.label"
        >
          <i class="sidenav-link-icon" [class]="item.icon"></i>
          <span *ngIf="!isLeftSidebarCollapsed()" class="sidenav-link-text">
            {{ item.label }}
          </span>
          <i
            *ngIf="item.children && !isLeftSidebarCollapsed()"
            class="fa"
            [ngClass]="{
              'fa-chevron-down': !isSubmenuOpen(i),
              'fa-chevron-up': isSubmenuOpen(i)
            }"
            style="margin-left: auto;"
          ></i>
        </a>

        <!-- 🔸 Submenu -->
        <ul *ngIf="item.children && isSubmenuOpen(i)" class="submenu">
          <li *ngFor="let subItem of item.children">
            <a
              [routerLink]="subItem.routeLink"
              class="sidenav-nav-link sub-link"
              [attr.data-tooltip]="subItem.label"
              routerLinkActive="active"
            >
              <i class="{{ subItem.icon }}"></i>
              <span *ngIf="!isLeftSidebarCollapsed()" class="submenu-text">
                {{ subItem.label }}
              </span>
            </a>
          </li>
        </ul>
      </li>
      </ng-container>
    </ul>
  </div>
  <div class="sidenav-footer">

<button class="btn btnlogout" title="Logout" (click)="Logout()">
  
  <span class="logout-text"><i class="bi bi-box-arrow-left fs-5 pe-1"></i>Logout</span>
</button>

</div>

</div>
