/*  */


.body-trimmed .top-navbar-fixed {
  left: 16.5625rem;
  width: calc(100% - 16.5625rem);
}


.top-navbar.expanded {
  width: 100%;
  /* margin-left: 9.5625rem; */
}

.logo-img {
  width: 120px;
  height: 100px;
  object-fit:unset;
  margin-top: -25px;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.user-info .user-name {
  font-size: 16px;
  color: rgb(3, 15, 83);
  font-weight: 500;
  
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgb(90, 38, 38);
}
.user-info{
  margin-top: -26px;
}
@media screen and (max-width: 426px) and (max-height: 1163px) {
  .user-name,.user-avatar {
    display: none !important;
  }
}
/* .img-container{
  width: 80px;
  height: 80px;
  background-image: url('/images/logo-blue.png');
  background-size: cover;
} */