<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-8">
      <div class="card shadow border-0">
        <div class="card-header text-white py-3">
          <h4 class="mb-0 fw-bold text-center" style="color: aliceblue">
            <i class="fas fa-store-alt me-2"></i>Add New WeightSetting
          </h4>
        </div>
        <div class="card-body p-4">
          <form (ngSubmit)="addWeightSetting()">
            <div class="mb-4">
              <label for="WeightRange" class="form-label fw-semibold"
                >WeightRange</label
              >
              <div class="input-group">
                <span class="input-group-text bg-light"
                  ><i class="fas fa-signature text-primary"></i
                ></span>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="newWeightSetting.weightRange"
                  name="weightRange"
                  id="weightRange"
                  placeholder="Enter weightRange "
                  required
                />
              </div>
            </div>

            <div class="mb-4">
              <label for="extraPrice" class="form-label fw-semibold"
                >ExtraPrice</label
              >
              <div class="input-group">
                <span class="input-group-text bg-light"
                  ><i class="fas fa-phone-alt text-primary"></i
                ></span>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="newWeightSetting.extraPrice"
                  name="extraPrice"
                  id="extraPrice"
                  placeholder="Enter ExtraPrice"
                  required
                />
              </div>
            </div>

            <div class="text-end">
              <button
                type="submit"
                class="btn py-2 fw-bold shadow"
                style="background-color: #155293; color: white"
              >
                <i class="fas fa-plus-circle me-2"></i>Add WeightSetting
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
