<div class="container my-5">
 <div class="container-fluid">
  <div class="row">
    <div class="col-6"><h4 class="mb-4 text-primary fw-bold ">Status Management</h4></div>
    <div class="col-6 text-end"><button class="btn btn-primary btn-add-branch shadow" routerLink="/dashboard/status/add-status"> <i class="fas fa-plus me-2"></i>New Status</button></div>
  </div>
 
  <div class="table-responsive rounded-3 shadow">
    <table class="table table-hover align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th class="text-center fw-medium text-uppercase " style="width: 50px; color: rgb(58, 56, 56);">#</th>
          <th class="fw-medium text-uppercase " style=" color: rgb(58, 56, 56);">Status Name</th>
          <th class="text-center fw-medium text-uppercase " style="width: 100px;color: rgb(58, 56, 56);">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stat of statuses; let i = index" class="border-top">
          <td class="text-center text-muted fw-semibold">{{ i + 1 }}</td>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="fw-semibold mb-1">{{ stat.name }}</p>
              </div>
            </div>
          </td>
         
          <td class="text-center">
            <button class="btn btn-sm btn-outline-warning me-2" (click)="openEditModal(stat)"
                    title="Edit" data-bs-toggle="tooltip">
              <i class="far fa-edit"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger" (click)="deleteStatus(stat)" 
                    title="Delete" data-bs-toggle="tooltip">
              <i class="far fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Edit Branch Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #editForm="ngForm" (ngSubmit)="updateStatus()" novalidate>
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" style="color: aliceblue;" id="editModalLabel">Edit Branch</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label fw-semibold">Branch Name</label>
            <input type="text" class="form-control" [(ngModel)]="selectedStatus.name" name="editBranchName" required>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn " style="background-color: rgb(238, 100, 100); color: aliceblue;" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success" [disabled]="!editForm.valid">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
