.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.table > :not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.badge.bg-opacity-10 {
  background-color: rgba(var(--bs-primary-rgb), 0.1);
}
.btn-add-branch{
 margin-top: 50px;
 margin-bottom: 20px;
}
.btn-add-branch:hover{
  background-color: rgb(131, 131, 230);
  cursor: pointer;

}
 .table-responsive .table .btn-details{
  background-color: rgb(131, 131, 230);
  cursor: pointer;
}